body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.opciones {
    width: 100%;
}

.input-group-addon, .input-group-btn {
    width: 0% !important;
}

.input-group {
    width: 18% !important;
}

textarea.form-control {
    height: 170px;
    max-width: 64% !important;
}

#ComentarioJefatura {
    max-width: 64% !important;
}

.datepicker.datepicker-inline {
    width: 70%;
    height: 500px;
}

.datepicker-inline > .datepicker-days {
    width: 100%;
    height: 100%;
}

    .datepicker-inline > .datepicker-days > .table-condensed {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }

.datepicker-inline > .datepicker-months {
    width: 100%;
    height: 100%;
}

    .datepicker-inline > .datepicker-months > .table-condensed {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }

.datepicker-inline > .datepicker-years {
    width: 100%;
    height: 100%;
}

    .datepicker-inline > .datepicker-years > .table-condensed {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }

.datepicker-inline > .datepicker-decades {
    width: 100%;
    height: 100%;
}

    .datepicker-inline > .datepicker-decades > .table-condensed {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }

.datepicker-inline > .datepicker-centuries {
    width: 100%;
    height: 100%;
}

    .datepicker-inline > .datepicker-centuries > .table-condensed {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }

.datepicker-inline table th {
    border: 1px solid black !important;
}

.datepicker-inline table td {
    border: 1px solid black !important;
}

.datepicker-inline table tr td span {
    border: 1px solid black !important;
}

label {
    text-align: left !important;
}